
body {
    background: #3498db;
    font-family: sans-serif;
}
 
h2 {
    color: #fff;
}
 
/* form login */
.qcJero {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
}
 
label {
    font-size: 10pt;
    color: #555;
}
 
input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

/* button submit pada form  */
.qcKirim {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}	
		
#qcPustaka {
    font-size: 85%;
    /* color: gray; */
    padding-left: 14em; 
    text-indent: -4em;
    width: 960px;
}
	
