/* pameunteu 
   q : by MikroStat
       p : page, paragraf
       t : tabel
*/

/* ===============  paragraf ==================== */
/* catatan dalam posting */
.qbedug {
   color : gray;
   font-size : 80%;
   font-family:sans-serif;
   line-height: 1.20;
   margin-top : 14px;
   margin-bottom : 14px;
   padding-left : 12px;
   border-left: 2px solid #daa520; 
}

/* ==========  anchor/link/URL ============== */
/* list/daftar link */
.qad {
  display: none;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.qpustaka {
	text-indent: -2.0em;
	/* margin-left: 2em; */
	padding-left: 2em;
	color: grey;
	font-size: 90%;
	line-height: 1.50;
}
.qpustaka hr {
  	margin-top: 52px;
	border-top: 4px solid rgb(245.245.245);
	margin-left: -2.0em;
	padding-left: 0px;
	width:40%; 
}  

/* ===============  table ==================== */

/* daftar referensi */
.qtRef {
    border : 0;
    color : white;
    background-color: white;
    font-size: 1px;
    line-height: 0.1;
    letter-spacing: -2px;
    text-decoration: none;
    word-spacing: -2px;
    white-space: nowrap;
}

/* CSS for Zebra Table in index.html */
.qtzebra {
    width: 100%; 
    border-collapse: collapse;
    box-shadow: 0px 0px 7px 0px #ddd; 
    overflow: hidden;
    /* border: 0px 0px 7px 0px solid #0000;  */
    border: none;
    font-size: 85%; 
}


.qtzebra td { 
  vertical-align: top;
  padding: 0px 30px 10px 0px; 
  text-align: left; 
  margin:0;
  
}

.qtzebra th {
  text-align: left; 
  vertical-align: top;
  background: #35A9DB;
  color: #fff;
  padding: 0px 30px 10px 0px; 
  margin: 0; 
}

.qtzebra tbody tr:nth-child(odd)  { 
   /* Make table like zebra */
   background:#eee;
}

